# Python
__pycache__/
*.py[cod]
.venv/
.env
.DS_Store

# VS Code
.vscode/

# Media
input_mp3s/*
output_mp4s/*
*.bak
*.mp3
*.mp4
*.wav
*.png
*.jpg
*.log
client_secrets.json
token.json
chenchen-collection.txt
nick-collections.txt
nick_dance_config.json
songs.txt
